<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ShoppingList</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body>

<div id="mainContent" class="mainContent">

  <div id="listCardAreaIsolate" class="listCardAreaIsolate">
    <div id="listCardArea" class="listCardArea">

      <label>
        <input type="checkbox">
      </label>

      <div id="listCard" class="listCard">
        <ul>
          <li *ngFor="let product of products">{{product}}</li>
        </ul>
      </div>

      <div id="newToDoButton" class="newToDoButton">
        <button>New To-Do</button>
      </div>

    </div>

    <div id="listCardHidden" class="listCardHidden"></div>
  </div>

  <div class="listTextAndButtons">
    <label class="textAreas">
      <textarea [(ngModel)]="itemToAdd"></textarea>
      <textarea [(ngModel)]="itemToRemove"></textarea>
    </label>

    <div class="addRemoveButtons">
      <button (click)="addNewItem()">Add New Item!</button>
      <button (click)="removeItem()">Remove an Item!</button>
    </div>

    <div class="createNewListButton">
      <button (click)="createNewList()">Create a New List!</button>
    </div>
  </div>

</div>
</body>
</html>
